<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="com.google.mapsengine.connectors.arcgis.arcgis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="com.google.mapsengine.connectors.arcgis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <com.google.mapsengine.connectors.arcgis.Properties.Settings>
      <setting name="oauth2_user_expires_on" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth2_user_refresh_token" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth2_user_token_type" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth2_user_expires_in" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="oauth2_user_code" serializeAs="String">
        <value />
      </setting>
      <setting name="gme_api_includepublic" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="gme_api_cidfilter" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth2_user_access_token" serializeAs="String">
        <value />
      </setting>
      <setting name="gplus_is_enabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="temp_storage_location" serializeAs="String">
        <value />
      </setting>
      <setting name="gme_api_cidfilter_hasBeenPrompted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="oauth2_user_isViewOnly" serializeAs="String">
        <value>True</value>
      </setting>
      </com.google.mapsengine.connectors.arcgis.Properties.Settings>
    </userSettings>
  <applicationSettings>
    <com.google.mapsengine.connectors.arcgis.Properties.Settings>
      <setting name="oauth2_settings_client_secret" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth2_settings_clientId" serializeAs="String">
        <value />
      </setting>
      <setting name="oauth2_settings_token_url" serializeAs="String">
        <value>https://accounts.google.com/o/oauth2/token</value>
      </setting>
      <setting name="oauth2_settings_auth_url" serializeAs="String">
        <value>https://accounts.google.com/o/oauth2/auth</value>
      </setting>
      <setting name="extension_update_check_uri" serializeAs="String">
        <value>https://raw.github.com/googlemaps/mapsengine-arcgis-connector/master/updatecheck.json</value>
      </setting>
      <setting name="extension_gdb_workspacename" serializeAs="String">
        <value>GoogleMapsEngineDataLocal.gdb</value>
      </setting>
      <setting name="google_map_gallery_url" serializeAs="String">
        <value>http://www.google.com/gadgets/directory?synd=earth&amp;preview=on</value>
      </setting>
      <setting name="dialogs_OAuth2AuthForm_Text" serializeAs="String">
        <value>Sign in to Google Maps Engine</value>
      </setting>
      <setting name="dialogs_GoogleMapsEngineDirectoryListing_Text"
        serializeAs="String">
        <value>Google Maps Engine</value>
      </setting>
      <setting name="gme_api_protocol" serializeAs="String">
        <value>https</value>
      </setting>
      <setting name="gme_api_domain" serializeAs="String">
        <value>www.googleapis.com</value>
      </setting>
      <setting name="gme_api_service" serializeAs="String">
        <value>mapsengine</value>
      </setting>
      <setting name="gme_api_version" serializeAs="String">
        <value>v1</value>
      </setting>
      <setting name="gme_api_key" serializeAs="String">
        <value />
      </setting>
      <setting name="gme_wms_GetCapabilities" serializeAs="String">
        <value>https://mapsengine.google.com/{mapId}-4/wms/{authTokenPlusSlash}?Request=GetCapabilities&amp;Version=1.3.0</value>
      </setting>
      <setting name="gme_url_admin" serializeAs="String">
        <value>https://mapsengine.google.com/admin/#{place}:cid={projectId}&amp;v={view}&amp;aid={assetId}</value>
      </setting>
      <setting name="gme_url_mapwidget" serializeAs="String">
        <value>https://mapsengine.google.com/{mapId}-4/mapview/</value>
      </setting>
      <setting name="gme_auth_editscopes" serializeAs="String">
        <value>https://www.googleapis.com/auth/mapsengine</value>
      </setting>
      <setting name="dialogs_uploadFilestoGoogleMapsEngine" serializeAs="String">
        <value>Upload a dataset to Google Maps Engine</value>
      </setting>
      <setting name="dialogs_aboutTitle" serializeAs="String">
        <value>About the Google Maps Engine Connector for ArcGIS Desktop</value>
      </setting>
    </com.google.mapsengine.connectors.arcgis.Properties.Settings>
    </applicationSettings>
  <system.net>
    <defaultProxy>
      <bypasslist/>
      <proxy usesystemdefault="True" autoDetect="True"/>
    </defaultProxy>
  </system.net>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
